body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

.container {
    width: 320px;
    height: 320px;
    max-width: 380px;
    min-height: 250px;
    margin-top: 10vh; /* You can adjust this margin if needed */
    margin-bottom: 10vh; /* Add margin-bottom to create space at the bottom */
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    overflow: hidden;
}


.flex-row {
    display: flex;
    gap: 0; /* Remove the gap between boxes */
}

@media (max-width: 768px) {
    .container {
        width: 80vw;
        height: 80vw;
        margin-top: 10vh;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90vw;
        height: 90vw;
        margin-top: 10vh;
    }
}

.box {
    flex: 1;
    background-color: rgb(245, 245, 245);
    border: 1px solid #2980b9;
    box-sizing: border-box;
    aspect-ratio: 1 / 1; /* Ensure the aspect ratio is 1:1 */
}

/* Optional: Add hover effect */
.box:hover {
    background-color: #2980b9;
}

.settings{
    display: flex;
    flex-direction: column;
}

.slider{
    display: flex;
    flex-direction: row;
}

.btns{
    display: flex;
    flex-direction: row;
}


button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #3498db;
    color: white;
    transform: scale(1.1);
}